<p id="notice"><%= notice %></p>

<p>
  <b>Title m tips:</b>
  <%= @m_tip.title_M_Tips %>
</p>

<p>
  <b>Date m tips:</b>
  <%= @m_tip.date_M_Tips %>
</p>

<p>
  <b>Description m tips:</b>
  <%= @m_tip.description_M_Tips %>
</p>

<p>
  <b>Img m tips:</b>
  <%= @m_tip.img_M_Tips %>
</p>

<p>
  <b>Address m tips:</b>
  <%= @m_tip.address_M_Tips %>
</p>

<p>
  <b>Id city m tips:</b>
  <%= @m_tip.id_city_M_Tips %>
</p>

<p>
  <b>Id subcat m tips:</b>
  <%= @m_tip.id_subcat_M_Tips %>
</p>

<p>
  <b>Id user m tips:</b>
  <%= @m_tip.id_user_M_Tips %>
</p>


<%= link_to 'Edit', edit_m_tip_path(@m_tip) %> |
<%= link_to 'Back', m_tips_path %>
