<p id="notice"><%= notice %></p>

<p>
  <b>Rating m rating:</b>
  <%= @m_rating.rating_M_Rating %>
</p>

<p>
  <b>Date m rating:</b>
  <%= @m_rating.date_M_Rating %>
</p>

<p>
  <b>Id user m rating:</b>
  <%= @m_rating.id_user_M_Rating %>
</p>

<p>
  <b>Id tip m rating:</b>
  <%= @m_rating.id_tip_M_Rating %>
</p>

<p>
  <b>Id owner m rating:</b>
  <%= @m_rating.id_owner_M_Rating %>
</p>


<%= link_to 'Edit', edit_m_rating_path(@m_rating) %> |
<%= link_to 'Back', m_ratings_path %>
