<p id="notice"><%= notice %></p>

<p>
  <b>Bar m preference:</b>
  <%= @m_preference.bar_M_Preference %>
</p>

<p>
  <b>Fashion m preference:</b>
  <%= @m_preference.fashion_M_Preference %>
</p>

<p>
  <b>Events m preference:</b>
  <%= @m_preference.events_M_Preference %>
</p>

<p>
  <b>Beauty m preference:</b>
  <%= @m_preference.beauty_M_Preference %>
</p>

<p>
  <b>Luxury m preference:</b>
  <%= @m_preference.luxury_M_Preference %>
</p>

<p>
  <b>Email m preference:</b>
  <%= @m_preference.email_M_Preference %>
</p>


<%= link_to 'Edit', edit_m_preference_path(@m_preference) %> |
<%= link_to 'Back', m_preferences_path %>
