<p id="notice"><%= notice %></p>

<p>
  <b>Gender m general:</b>
  <%= @m_general.gender_M_General %>
</p>

<p>
  <b>Relation m general:</b>
  <%= @m_general.relation_M_General %>
</p>

<p>
  <b>State m general:</b>
  <%= @m_general.state_M_General %>
</p>

<p>
  <b>Postal code m general:</b>
  <%= @m_general.postal_code_M_General %>
</p>

<p>
  <b>About m general:</b>
  <%= @m_general.about_M_General %>
</p>

<p>
  <b>Email m general:</b>
  <%= @m_general.email_M_General %>
</p>

<p>
  <b>Date m general:</b>
  <%= @m_general.date_M_General %>
</p>


<%= link_to 'Edit', edit_m_general_path(@m_general) %> |
<%= link_to 'Back', m_generals_path %>
