<p id="notice"><%= notice %></p>

<p>
  <b>Hometown m contact:</b>
  <%= @m_contact.hometown_M_Contact %>
</p>

<p>
  <b>Address1 m contact:</b>
  <%= @m_contact.address1_M_Contact %>
</p>

<p>
  <b>Address m contact:</b>
  <%= @m_contact.address_M_Contact %>
</p>

<p>
  <b>Ccity m contact:</b>
  <%= @m_contact.ccity_M_Contact %>
</p>

<p>
  <b>Ccountries m contact:</b>
  <%= @m_contact.ccountries_M_Contact %>
</p>

<p>
  <b>Cstate m contact:</b>
  <%= @m_contact.cstate_M_Contact %>
</p>

<p>
  <b>Zip m contact:</b>
  <%= @m_contact.zip_M_Contact %>
</p>

<p>
  <b>Homephone m contact:</b>
  <%= @m_contact.homephone_M_Contact %>
</p>

<p>
  <b>Cellphone m contact:</b>
  <%= @m_contact.cellphone_M_Contact %>
</p>

<p>
  <b>Webpage m contact:</b>
  <%= @m_contact.webpage_M_Contact %>
</p>

<p>
  <b>Email m contact:</b>
  <%= @m_contact.email_M_Contact %>
</p>

<p>
  <b>Date m contact:</b>
  <%= @m_contact.date_M_Contact %>
</p>


<%= link_to 'Edit', edit_m_contact_path(@m_contact) %> |
<%= link_to 'Back', m_contacts_path %>
