<p id="notice"><%= notice %></p>

<p>
  <b>Id city m register:</b>
  <%= @m_register.id_city_M_Register %>
</p>

<p>
  <b>Fname m register:</b>
  <%= @m_register.fname_M_Register %>
</p>

<p>
  <b>Lname m register:</b>
  <%= @m_register.lname_M_Register %>
</p>

<p>
  <b>Date bith m register:</b>
  <%= @m_register.date_bith_M_Register %>
</p>

<p>
  <b>Countrie m register:</b>
  <%= @m_register.countrie_M_Register %>
</p>

<p>
  <b>Email m register:</b>
  <%= @m_register.email_M_Register %>
</p>

<p>
  <b>Pic m register:</b>
  <%= @m_register.pic_M_Register %>
</p>

<p>
  <b>Date today m register:</b>
  <%= @m_register.date_today_M_Register %>
</p>

<p>
  <b>Pass m register:</b>
  <%= @m_register.pass_M_Register %>
</p>

<p>
  <b>Adresse1 m register:</b>
  <%= @m_register.adresse1_M_Register %>
</p>

<p>
  <b>Status m register:</b>
  <%= @m_register.status_M_Register %>
</p>


<%= link_to 'Edit', edit_m_register_path(@m_register) %> |
<%= link_to 'Back', m_registers_path %>
