<%= form_for(@m_sub_category) do |f| %>
  <% if @m_sub_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@m_sub_category.errors.count, "error") %> prohibited this m_sub_category from being saved:</h2>

      <ul>
      <% @m_sub_category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name_M_SubCategories %><br />
    <%= f.text_field :name_M_SubCategories %>
  </div>
  <div class="field">
    <%= f.label :img_M_SubCategories %><br />
    <%= f.text_field :img_M_SubCategories %>
  </div>
  <div class="field">
    <%= f.label :id_cat_M_SubCategories %><br />
    <%= f.text_field :id_cat_M_SubCategories %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
