<p id="notice"><%= notice %></p>

<p>
  <b>High school m professionel:</b>
  <%= @m_professionel.high_school_M_Professionel %>
</p>

<p>
  <b>College m professionel:</b>
  <%= @m_professionel.college_M_Professionel %>
</p>

<p>
  <b>Major m professionel:</b>
  <%= @m_professionel.major_M_Professionel %>
</p>

<p>
  <b>Degre m professionel:</b>
  <%= @m_professionel.degre_M_Professionel %>
</p>

<p>
  <b>Occupation m professionel:</b>
  <%= @m_professionel.occupation_M_Professionel %>
</p>

<p>
  <b>Industry m professionel:</b>
  <%= @m_professionel.industry_M_Professionel %>
</p>

<p>
  <b>Email m professionel:</b>
  <%= @m_professionel.email_M_Professionel %>
</p>

<p>
  <b>Date m professionel:</b>
  <%= @m_professionel.date_M_Professionel %>
</p>


<%= link_to 'Edit', edit_m_professionel_path(@m_professionel) %> |
<%= link_to 'Back', m_professionels_path %>
