<p id="notice"><%= notice %></p>

<p>
  <b>Id sender m share:</b>
  <%= @m_share.id_sender_M_Share %>
</p>

<p>
  <b>Id recever m share:</b>
  <%= @m_share.id_recever_M_Share %>
</p>

<p>
  <b>Id tip m share:</b>
  <%= @m_share.id_tip_M_Share %>
</p>

<p>
  <b>Date m share:</b>
  <%= @m_share.date_M_Share %>
</p>

<p>
  <b>Msg m share:</b>
  <%= @m_share.msg_M_Share %>
</p>


<%= link_to 'Edit', edit_m_share_path(@m_share) %> |
<%= link_to 'Back', m_shares_path %>
