<h1>Listing m_cities</h1>

<table>
  <tr>
    <th>Name m cit</th>
    <th>Id country m cit</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @m_cities.each do |m_city| %>
  <tr>
    <td><%= m_city.name_M_Cit %></td>
    <td><%= m_city.id_country_M_Cit %></td>
    <td><%= link_to 'Show', m_city %></td>
    <td><%= link_to 'Edit', edit_m_city_path(m_city) %></td>
    <td><%= link_to 'Destroy', m_city, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New M city', new_m_city_path %>
