<p id="notice"><%= notice %></p>

<p>
  <b>Name m cit:</b>
  <%= @m_city.name_M_Cit %>
</p>

<p>
  <b>Id country m cit:</b>
  <%= @m_city.id_country_M_Cit %>
</p>


<%= link_to 'Edit', edit_m_city_path(@m_city) %> |
<%= link_to 'Back', m_cities_path %>
